* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Josefin Sans';
  background: #191917;
  color: #fff;
}

body::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, .9);
}

body::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, .9);
}

body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, .1);
}

button,
input {
  outline: none;
  border: none;
}

/* Wrapper */

.wrap {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Main title */

.wrap h1 {
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 80px;
}

/* Description */

.wrap h2 {
  font-weight: 400;
  font-size: 20px;
}

/* Input field */

.wrap input {
  padding: 15px 20px;
  margin: 15px 0 20px 0;
  width: 400px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 700;
}

/* Button */

.wrap button {
  font-size: 13px;
  padding-left: 30px;
  padding-right: 30px;
  height: 50px;
  line-height: 50px;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

/* Different styles for input and button */

.wrap input.neutral {
  background-color: white;
}

.wrap button.positive,
.wrap input.positive {
  color: #17422C;
  background-color: #43E993;
}

.wrap button.negative,
.wrap input.negative {
  color: #521617;
  background-color: #FF464A;
}

.wrap button.neutral {
  cursor: default;
}

.wrap button.positive {
  cursor: pointer;
}

.wrap button.negative {
  cursor: not-allowed;
}

/* Shadow for input and button */

.wrap input,
.wrap button.positive {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.wrap input:focus,
.wrap button.positive:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.wrap button.positive:hover {
  text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* Results */

.wrap .results p {
  font-family: 'Arial';
  padding-top: 5px;
  padding-bottom: 5px;
}

.wrap .results p.time {
  font-style: italic;
}

.wrap .results p.time .count {
  font-weight: 700;
}

.wrap .results p.numbers {
  line-height: 30px;
  padding-left: 250px;
  padding-right: 250px;
}

.wrap .results p.numbers span {
  display: inline-block;
  padding: 3px;
}

.wrap .results p.numbers span:nth-child(odd) {
  color: rgba(255, 255, 255, .5);
}

.wrap .results p.status.good {
  color: #43E993;
}

.wrap .results p.status.failed {
  color: #FF464A;
}

/* Errors */

.messages {
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
}

.messages .ok {
  color: #17422C;
  background-color: #43E993;
}

.messages .error {
  color: rgba(255, 255, 255, .8);
  background-color: #FF464A;
}

.messages .warning {
  color: #594B25;
  background-color: #FFF372;
}

.messages > div {
  font-family: 'Arial';
  margin-bottom: 15px;
  padding: 10px 20px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.messages .error .symb {
  font-weight: 700;
  color: white;
}
