* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Josefin Sans';
  background: #191917;
  color: #fff;
  font-size: 20pt;
}

.range {
  width: 100%;
  position: relative;
  margin: 20px auto 0;
  background: #fff;
  color: #191917;
  outline: none;
  padding: 5px 10px;
  border-radius: 3px 3px 0 0;
  z-index: 2;
  text-align: center;
}

.label-for-range {
  width: 100%;
  text-align: center;
  color: #929292;
  font-size: 40px;
  z-index: 1;
  letter-spacing: 5px;
}

.get-prime-numbers {
  z-index: 3;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 3em;
  line-height: 3em;
  cursor: pointer;
  text-align: center;
  border-radius: 0 0 3px 3px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 5px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
  background: #929292;
  color: #313131;
}

.block {
  overflow: hidden;
  border-radius: 0 0 3px 3px;
  width: 60%;
  margin: 15% auto 0;
  position: relative;
  height: auto;
}

.negative {
  background: #ff877a !important;
  color: #9c2a1d !important;
}

.negative-lb {
  color: #ff877a;
}

.positive {
  background: #00ffa9 !important;
  color: #00764f !important;
}

.positive-lb {
  color: #00ffa9;
}

.neutral {
  background: #929292 !important;
  color: #313131 !important;
}

.neutral-lb {
  color: #929292;
}

.starting {
  font-size: 0.5em;
  width: 100%;
  text-align: center;
  height: auto;
}

